# Book Recommendation System using Keras
### Reference: https://www.kaggle.com/tannergi/book-recommendation-system/notebook
### Data source: https://github.com/zygmuntz/goodbooks-10k

In [5]:
# Imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings

from keras.layers import Input, Embedding, Flatten, Dot, Dense
from keras.models import Model
from sklearn.model_selection import train_test_split

warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
dataset = pd.read_csv('~/Documents/Datasets/goodbooks-10k/ratings.csv')
dataset.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [6]:
train, test = train_test_split(dataset, test_size=0.2, random_state=42)

In [8]:
train.shape

(4781183, 3)

In [9]:
test.shape

(1195296, 3)

In [13]:
n_users = len(dataset.user_id.unique())
n_users

53424

In [14]:
n_books = len(dataset.book_id.unique())
n_books

10000